body {
    background-color: lightsteelblue;
}

.divbody{
    background-color: white;
    z-index:1;
}

.box {
    position: relative;
    height: 100%;
    padding: 20px;
    color: rgb(0, 0, 0);
    background: lightgray;
}
  
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;
}

.margin-top-80 {
    margin-top: 80px;
}

.imgborder {
    border: 3px solid darkslategray;
}